# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/crash.*.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/secrets.auto.tfvars
**/*.auto.tfvars
.terraform.lock.hcl

# Secrets / env
.env
.env.*
!.env.example
terraform/scripts/domain-contact-*.json

# Node
node_modules/
frontend/dist/
backend/frontend-src/
backend/static/frontend/*
!backend/static/frontend/.gitkeep

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
*.log

# Terraform plan files
**/tfplan
**/tfplan-*
**/*.tfplan
**/archive-eu-north-1/
terraform/scripts/route53-*.json
terraform/scripts/eb-https-options.json
